.card-title {
    color: #3EB18F;
}

.card-text {
    color: #656565;
}

.delete-contact {
    color: #AD0202;
}

.edit-contact {
    color: #0B658F;
}

i.delete-icon {
    color: #AD0202;
    font-size: 1.25rem;
}

i.edit-icon {
    color: #0B658F;
    font-size: 1.25rem;
}